In [18]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [26]:
#declare csv's and read into pandas DF(Extract data)
csv_file_happy = "Happiness_2016.csv"
csv_file_free = "Freedom_2016.csv"
happiness_df = pd.read_csv(csv_file_happy)
freedom_df = pd.read_csv(csv_file_free)
#Transform data by cleaning into new df's with desired columns only
happy_summary = happiness_df[['Country', 'Region', 'Happiness Rank', 'Happiness Score']]
happy_summary.head()

       Country          Region  Happiness Rank  Happiness Score
0      Denmark  Western Europe               1            7.526
1  Switzerland  Western Europe               2            7.509
2      Iceland  Western Europe               3            7.501
3       Norway  Western Europe               4            7.498
4      Finland  Western Europe               5            7.413

In [23]:
#pull necessary columns and filter by relevant year for comparison to happiness
freedom_summary = freedom_df[['year', 'countries', 'ECONOMIC FREEDOM', 'rank']]
freedom_rename_pk = freedom_summary.rename(columns={'countries': 'country'})
freedom_rename_pk.head()

   year    country  ECONOMIC FREEDOM   rank
0  2016    Albania              7.54   34.0
1  2016    Algeria              4.99  159.0
2  2016     Angola              5.17  155.0
3  2016  Argentina              4.84  160.0
4  2016    Armenia              7.57   29.0