In [1]:
#import dependencies
import pandas as pd
#from sqlalchemy import create_engine

In [23]:
#declare csv's and read into pandas DF(Extract data)
csv_file_happy = "Happiness_2016.csv"
csv_file_free = "Freedom_2016.csv"
happiness_df = pd.read_csv(csv_file_happy)
freedom_df = pd.read_csv(csv_file_free)
#Transform data by cleaning into new df's with desired columns only
happy_summary = happiness_df[['Country', 'Region', 'Happiness Rank', 'Happiness Score']]
happy_rename = happy_summary.rename(columns={'Country': 'country',
                                             'Region':'region',
                                             'Happiness Rank': 'happy_rank', 
                                            'Happiness Score': 'happy_score'}) 
happy_rename.head()

       country          region  happy_rank  happy_score
0      Denmark  Western Europe           1        7.526
1  Switzerland  Western Europe           2        7.509
2      Iceland  Western Europe           3        7.501
3       Norway  Western Europe           4        7.498
4      Finland  Western Europe           5        7.413

In [43]:
#pull necessary columns and filter by relevant year for comparison to happiness
freedom_summary = freedom_df[['year','countries', 'ECONOMIC FREEDOM', 'rank']]
freedom_rename_pk = freedom_summary.rename(columns={'countries': 'country', 
                                                    'ECONOMIC FREEDOM': 'freedom_score',
                                                   'rank':'freedom_rank'})
#freedom_rename_pk.head()
freedom_2016 = freedom_rename_pk[freedom_rename_pk['year']==2016]
freedom_2016.count()

year             162
country          162
freedom_score    162
freedom_rank     162
dtype: int64

In [25]:
# setup connection to data_happy_db database
from sqlalchemy import create_engine
import psycopg2
import datetime
from config import password
engine = create_engine('postgresql+psycopg2://postgres:'+ password + '@localhost:5432/data_happy_db')
connection = engine.connect()

In [26]:
# Read happiness df into sql db
happy_rename.to_sql(name='happiness', con=engine, if_exists='append', index=False)

In [44]:
#Read freedom df into sql db
freedom_2016.to_sql(name='freedom', con=engine, if_exists='append', index=False)